gitea/git/*
gitea/gitea/conf
tor/data/**/*
tor/data/cached-certs
tor/data/cached-microdesc-consensus
tor/data/cached-microdescs.new
tor/data/cached-microdescs
tor/data/lock
tor/data/state
# onionbalance - never commit the private frontend key
onionbalance/data/*.key
onionbalance/data/hostname
